body{
    margin:0;
    font-family:Arial, sans-serif;
    display:flex;
    flex-direction:column;
    background:#f5f7fa;
    min-height:100vh;
}

/* Bloc détails et recherche */
.detail-box,
.search-box{
    width:70%;
    max-width:600px;
    margin:30px auto;
    padding:25px;
    background:white;
    border-radius:15px;
    box-shadow:0 6px 15px rgba(0,0,0,0.1);
    border:1px solid #dbeafe;
}

/* Titres */
.detail-box h2,
.search-box h2{
    text-align:center;
    color:#2563eb;
}