body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: blueviolet;
}
.detail-box h2,
.search-box h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.detail-box p{
    color: white;
    font-size: 16px;
    line-height: 1.8;
}
.detail-box,
.search-box{
    width: 70%;
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    background: #1e293b;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    border: 1px solid #6366f1;
}

a{
    text-align: center;
    color: white;
}
.search-box button{
    width: 100%;
    padding: 12px;
    background: #6366f1;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.search-box input{
    width: 100%;
    padding: 12px;
    border: 1px solid #6366f1;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
