body{
    background-color: #111827;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    margin: 70px;
   
}
button{
    background-color: rgb(18, 174, 18);
    color: white;
    padding: 12px 30px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    
}
h3{
    border: solid 1px blueviolet;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: blueviolet;
    margin-left: 30px;
    border-radius: 20px;
}

Label{
    display: flex;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ebe4e4;
}
.block{
    width: 100%;
    padding: 30px 40px;
    background: blueviolet;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: left;
    width: 100%;
    max-width: 400px;
}
form{
    
    gap: 1px;
    margin-left: 60px;
    padding: 10px;
    border: solid 2px color rgb(255, 254, 254);
}

